<div class="row">
  <footer>
    <section class="medium-6 columns">
      Sails Bank International
    </section>

    <section class="medium-6 columns text-right">
      All rights reserved &copy; 2014
    </section>
  </footer>
</div>
