<div class="m_top-bar __nav">
  <div class="row">
    <div class="medium-6 columns">
      <a href="/dashboard">
        <h1 class="title">Sails Bank - Home Banking</h1>
        <h3 class="subtitle">We keep your money safe. Underwater.</h3>
      </a>
    </div>
    <div class="medium-6 columns text-right">
      <h4 class="username"><%= user.title %> <%= user.first_name %> <%= user.last_name %></h4>
      <a class="user-logout" href="/logout">Log out</a>
    </div>
  </div>
</div>
