<div class="content" id="panel3-2">
  <form class="medium-9 columns" role="form" action="/account/new" method="post">

    <h4>Create a new account</h4>

    <div class="row">
      <div class="large-6 columns">
        <label>Account Type
          <select name="type">
            <option>Current</option>
            <option>Deposit</option>
            <option>ROL Programme</option>
          </select>
        </label>
      </div>

      <div class="large-6 columns">
        <label>Currency
          <select name="currency">
            <option>RON</option>
            <option>EUR</option>
            <option>USD</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <button type="submit" class="button right __margin-top">Create Account</button>
      </div>
    </div>

  </form>
</div>
