<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">Accounts</a>
    <div id="panel1" class="content active">
      <dl data-tab>
        <dd class="active"><a href="#panel3-1">My Accounts</a></dd>
        <dd><a href="#panel3-2">New Account</a></dd>
      </dl>
    </div>
  </dd>

  <dd>
    <a href="#panel2">Transactions</a>
    <div id="panel2" class="content">
      <dl data-tab>
        <dd class="active"><a href="#panel3-3">My Transactions</a></dd>
        <dd><a href="#panel3-4">Money Sent</a></dd>
        <dd><a href="#panel3-5">Money Received</a></dd>
        <dd><a href="#panel3-6">Send Money</a></dd>
      </dl>
    </div>
  </dd>

  <dd>
    <a href="#panel3">Info</a>
    <div id="panel3" class="content">
      <dl data-tab>
        <dd class="active"><a href="#panel3-7">Exchange Rates</a></dd>
        <dd><a href="#panel3-9">Currency Converter</a></dd>
        <dd><a href="#panel3-8">Personal</a></dd>
      </dl>
    </div>
  </dd>
</dl>
